<html>
<head>
    <title>
        Home Index
    </title>
</head>
<body>
    <h1> Welcome to Session example in .Net Core</h1>
    <footer>
        Renan Lucena &copy; @DateTime.Now.Year

    </footer>
</body>
</html>